<!DOCTYPE html>
<html lang="ru">
  <head>
    <%- head.title.toString() %>
    <%- head.meta.toString() %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />
  </head>
  <body>
    <div id="app"><%- content %></div>
    <div id="devtools"></div>
    <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
