<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css" />
  </head>
  <body>
    <div id="app">Hello, world!</div>
    <div id="devtools"></div>
    <script type="text/javascript">window.__INITIAL_STATE__ = <%- initialState %></script>
    <script src="/assets/bundle.js"></script>
  </body>
</html>
